<div id="slidey" style="display:none;">
    <ul>
        {% for video in random_videos: %}
        <li><img src="{{ video.image }}" alt=" ">
            <p class='title'>{{ video.title }}</p>
            <p class='description'> {{ video.descript }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
<script src="static/js/jquery.slidey.js"></script>
<script src="static/js/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">
    $("#slidey").slidey({
        interval: 8000,
        listCount: 5,
        autoplay: false,
        showList: true
    });
    $(".slidey-list-description").dotdotdot();
</script>