<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<!-- head tag -->
{% include "head_tag.html" %}

<body>
	<!-- header -->
	{% include "header.html" %}
	<!-- //header -->
	<!-- bootstrap-pop-up -->
	<!-- {% include "modal_login.html" %} -->
	<!-- //bootstrap-pop-up -->
	<!-- nav -->
	<!-- chỉnh lại navbar cho phù hợp với trang -->
	<!-- sử dụng navbar-xxx -->
	{% include "navbar_xxx.html" %}
	<!-- //nav -->
	<!-- banner -->
	<!-- {% include "banner.html" %} -->
	<!-- //banner -->
	<!-- banner-bottom -->
	<!-- {% include "banner_bottom.html" %} -->
	<!-- //banner-bottom -->
	<!-- general-->
	<!-- {% include "social_generate.html" %} -->
	<!-- featured movie -->
	{% include "feature_movie.html" %}
	<!-- //general -->
	<!-- Latest-tv-series -->
	
	<!-- //Latest-tv-series -->
	<!-- footer -->
	{% include "footer.html" %}
	<!-- //footer -->
	<!-- Bootstrap Core JavaScript -->
	{% include "bootstrap_core_javascript.html" %}
</body>

</html>