<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
  <!-- head tag -->
  {% include "head_tag.html" %}
  <body>
    <!-- header -->
    {% include "header.html" %}
    <!-- //header -->
    <!-- nav -->
    {% include "navbar.html" %}
    <!-- //nav -->
    <!-- /w3l-medile-movies-grids -->
    <div class="general">
      <h4 class="latest-text w3_latest_text">Phim chiếu rạp</h4>
      <div class="container">
        <div
          class="bs-example bs-example-tabs"
          role="tabpanel"
          data-example-id="togglable-tabs"
        >
          <div id="myTabContent" class="tab-content">
            <div
              role="tabpanel"
              class="tab-pane fade active in"
              id="home"
              aria-labelledby="home-tab"
            >
              <div class="w3_agile_featured_movies">
                <div style="text-align: center">{{ pagination.links }}</div>
                {% for post in all_phimchieurap: %}
                <div class="col-md-2 w3l-movie-gride-agile">
                  <a
                    href="{{ url_for('show_post_chieurap', post_id = post._id) }}"
                    class="hvr-shutter-out-horizontal"
                    ><img
                      src="{{ post.image }}"
                      title="album-name"
                      class="img-responsive"
                      alt=" "
                    />
                    <div class="w3l-action-icon">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </a>
                  <div class="mid-1 agileits_w3layouts_mid_1_home">
                    <div class="w3l-movie-text">
                      <h6><a href="single.html">{{ post.title }}</a></h6>
                    </div>
                  </div>
                  <div class="ribben">
                    <p>{{ post.mode }}</p>
                  </div>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
                <div style="text-align: center">{{ pagination.links }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //comedy-w3l-agileits -->
    <!-- footer -->
    {% include "footer.html" %}
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    {% include "bootstrap_core_javascript.html" %}
  </body>
</html>
