<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
  <!-- head tag -->
  {% include "head_tag.html" %}

  <body>
    <!-- header -->
    {% include "header.html" %}
    <!-- //header -->
    <!-- sử dụng navbar-xxx -->
    {% include "navbar.html" %}
    <!-- //nav -->
    <!-- single -->
    <div class="container">
      <!-- iframe video -->
      <!-- <div
        class="embed-responsive embed-responsive-16by9"
        style="margin-top: 1rem"
      >
        <iframe class="embed-responsive-item" src=""></iframe>
      </div> -->
      <div id="player2">
        {% for sv in all_iframe: %} {% if loop.index==1 %}
        <div id="tab{{ loop.index }}" style="display: block">
          <!-- <div class="movieplay">
            <iframe
              width="100%"
              height="auto"
              src="{{ sv }}"
              frameborder="0"
              scrolling="0"
              allowfullscreen=""
            ></iframe>
          </div> -->
          <div
            class="embed-responsive embed-responsive-16by9"
            style="margin-top: 1rem"
          >
            <iframe class="embed-responsive-item" src="{{ sv }}"></iframe>
          </div>
        </div>
        {% else %}
        <div id="tab{{ loop.index }}" style="display: none">
          <div class="movieplay">
            <iframe
              width="640"
              height="360"
              src="{{ sv }}"
              frameborder="0"
              scrolling="0"
              allowfullscreen=""
            ></iframe>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      <ul
        id="myTab"
        class="idTabs nav nav-tabs"
        role="tablist"
        style="margin-top: 3px"
      >
        {% for sv in all_iframe: %}
        <li role="presentation" class="">
          <a
            href="#tab{{loop.index}}"
            id="home-tab"
            role="tab"
            data-toggle="tab"
            aria-controls="home"
            aria-expanded="true"
            >Server {{loop.index}}</a
          >
        </li>
        {% endfor %}
      </ul>
      <div style="margin-bottom: 5px; border: 1px solid #212121; padding: 3px">
        <p>{{ post.descript }}</p>
      </div>
      <div class="clearfix"></div>
      <!-- rele videos  -->
      <div
        class="bs-example bs-example-tabs"
        role="tabpanel"
        data-example-id="togglable-tabs"
        style="margin-top: 3px"
      >
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a
              href="#home"
              id="home-tab"
              role="tab"
              data-toggle="tab"
              aria-controls="home"
              aria-expanded="true"
              >Bạn đã xem ?</a
            >
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div
            role="tabpanel"
            class="tab-pane fade active in"
            id="home"
            aria-labelledby="home-tab"
          >
            <div class="w3_agile_featured_movies">
              {% for post in all_posts: %}
              <div class="col-md-2 w3l-movie-gride-agile">
                <a
                  href="{{ url_for('show_post_le', index = post._id) }}"
                  class="hvr-shutter-out-horizontal"
                  ><img
                    src="{{ post.image }}"
                    title="album-name"
                    class="img-responsive"
                    alt=" "
                  />
                  <div class="w3l-action-icon">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                  </div>
                </a>
                <div class="mid-1 agileits_w3layouts_mid_1_home">
                  <div class="w3l-movie-text">
                    <h6>
                      <a href="{{ url_for('show_post_le', index = post._id) }}"
                        >{{ post.title }}</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      jQuery(document).ready(function ($) {
        $(".idTabs a").off();
        const first = $("#tab1 iframe").attr("src");
        $(".idTabs a").click(function (event) {
          $(".les-content .selected").removeClass("selected");
          $(this).addClass("selected");
          const id = $(this).attr("href");

          if (id == "#tab1") $("#tab1 iframe").attr("src", first);
          else {
            // console.log(id + ' iframe')
            const src = $(id + " iframe").attr("src");
            // console.log(src)
            $("#tab1 iframe").attr("src", src);
            // $.each($('#player2 iframe'), function(index, val) {
            //   const src = $(val).attr('src');
            //   $(val).attr('src', src);
            // });
          }
        });
      });
    </script>
    <!-- //w3l-medile-movies-grids -->

    <!-- footer -->
    {% include "footer.html" %}
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    {% include "bootstrap_core_javascript.html" %}
  </body>
</html>
